* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    
}

.brand-primary-text {
    color: var(--brand-primary);
}

.welcome-block {
    height: 80px;

}